* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* utiities */
.btn {
  padding: 5px 10px;
  border: 2px solid #1e2fff;
  border-radius: 10px;
  background-color: #000000;
  color: #ffffff;
  font-weight: 700;
}
/* /utiities */

/* header */
header {
  height: 100px;
  line-height: 98px;
  border-bottom: 2px solid #0712a4;
  text-align: center;
  background-color: #000000;
}
h1 {
  font-family: 'Nerko One', cursive;
  color: #ffffff;
}
/* /header */

#todo_section {
  padding: 20px;
}
.form {
  text-align: center;
}
.form > input {
  width: 30px;
  height: 30px;
  text-align: center;
  font-weight: 700;
  border-radius: 50px;
  transition: width 0.6s linear;
}
.form > input:focus {
  width: 350px;
  outline: none;
  border: 3px solid #1e2fff;
}
/* todo list section */
#todo_list {
  width: max-content;
  list-style: none;
}
#todo_list > li {
  margin: 10px 0;
  padding: 10px;
  border-bottom: 2px solid #1e2fff;
}
#todo_list > li > span {
  display: inline-block;
  width: 350px;
  text-transform: uppercase;
  font-weight: 700;
}
#todo_list > li > span.delete {
  text-decoration: line-through;
}
.icon_container {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #ef0f0f;
  border-radius: 50%;
  cursor: pointer;
}
#todo_list > li i {
  color: #bdb9b2;
}
/* /todo list section */
